section {
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px;
}

.form-title {
  font-size: 20px;
  margin-bottom: -20px;
}

em {
  opacity: 0.5;
}

form {
  display: flex;
  justify-content: space-around;
}

input.search-bar {
  width: 70%;
}

input.submit-button {
  width: 28%;
}

.response-section {
  border-left: 10px solid blue;
}

.buffering {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.Footer {
  padding-top: 10px;
}

.Footer p {
  opacity: 0.3;
  text-align: center;
  transition: all 150ms ease-in-out;
}

.Footer a {
  text-decoration: none;
}

.Footer a:hover {
  text-decoration: underline;
}

.Footer p:hover {
  opacity: 1;
}
